body {
    background:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:black; 
    background-size: cover;
}
h1 {
    text-align: center;
    color: #FFC300;
    font-size: 3rem;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
b{
    background-color: #FFC300;
    color: black;
}
p.sub-title {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

#contact-container .contact-info {
    background-color:  #FFC300;
    border-radius: 15px;
    flex: 0 1 40%;
    padding: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    
}
#contact-container .contact-info h4 {
    font-size: 2rem;
    background-color: #FFC300;
    color: black;
    font-weight: 500;
    margin-top: 0;
}
#contact-container .contact-info p {
    background-color: #FFC300;
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
#contact-container .contact-info .icon-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:  #FFC300;
    color: black;
    margin-bottom: 1.5rem;
}
#contact-container .contact-info .icon-text .bi {
    flex: 0 0 20px;
    font-size: 2.2rem;
    background-color:  #FFC300;
    color: black;
    margin-right: 2rem;
}
#contact-container .contact-info .icon-text span {
    font-size: 1.3rem;
    background-color:  #FFC300;
    color: black;
    font-weight: 300;
}
#contact-container .contact-info .social-media {
    display: flex;
    width: 50%;
    justify-content: space-between;
    background-color: #FFC300;
    color: black;
}
#contact-container .contact-info .social-media .icon-circle {
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    background-color:  #FFC300;
    color: black;
    transition: 0.3s all ease-in-out;
}
#contact-container .contact-info .social-media .icon-circle:hover {
    background-color: #FFC300;
    color: black;
}
#contact-container .contact-info .social-media .bi {
    font-size: 25px;
        background-color: #FFC300;
    color: black;
}
#contact-container form {
    padding: 20px;
    width: 100%;
}
#contact-container form .col {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
}
#contact-container form .form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 40px;
}
#contact-container form .form-group label {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 1rem;
}
#contact-container form .form-group input[type="text"], #contact-container form .form-group input[type="tel"], #contact-container form .form-group input[type="email"], #contact-container form .form-group textarea {
    border: none;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    color: black    ;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
}
#contact-container form .form-group input[type="text"]:focus, #contact-container form .form-group input[type="tel"]:focus, #contact-container form .form-group input[type="email"]:focus, #contact-container form .form-group textarea:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #05f7ff;
}
#contact-container form .form-group:nth-child(2) {
    padding-right: 0;
}
#contact-container form .form-group.textarea {
    padding: 0;
}
#contact-container form .form-group.solo {
    padding: 0;
}
#contact-container form .form-group.right {
    align-items: flex-end;
}
#contact-container form .form-group button {
    width: 200px;
    height: 60px;
    color:  #FFC300;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

#contact-container {
    width: 1200px;
    max-height: 510px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    justify-content:center;
    display: flex;
    backdrop-filter: blur(15px);
    border: 1px solid rgbd(255, 255, 255, 0.7);
    box-shadow: 0 0 10px #FFC300;
    margin-left: 85px;
    background-color: black;
     
}